@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

/* Playfair Display 연결 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');





/* ---------------------------- */
/* 공통부분 */
#page01 .container,
#page02 .container,
#page03 .container,
#page04 .container{
  width: 1200px;
  margin: 0 auto;
}

html{
  scroll-behavior: smooth;
}

.header_area{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  border-bottom: 1px solid #222;

  background-color: #fff;
  padding: 10px 0;

  transition: 0.3s;
}

.header_area.scroll{
  background-color: #262626cc;
  color: #fff;
}

.header_area.scroll #logo h1{
  filter: contrast(0.5) brightness(5);
}

.header_area #logo h1{
  background-image: url(./img/logo.svg);
  background-size: 100px;
  width: 100px;
  filter: contrast(0) brightness(0);
  transition: 0.3s;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
}

.header_area .container{
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_area .logo{
  width: 100px;
}

.header_area .main_menu{
  font-family: "Playfair Display", serif;
  display: flex;
  gap: 20px;
}

/* ---------------------------- */

#page01 .container{
  display: flex;
  gap: 20px;

  padding: 100px 0;
}

#page01 .container .proflie_photo{
  height: 600px;
  border-left: 1px solid #ddd;
  padding-left: 80px;
  filter: grayscale(1);

  transition: 0.3s;
}

#page01 .container .proflie_photo:hover{
  filter: grayscale(0);
}

#page01 .container .title{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
}

#page01 .title .name{
  font-size: 1.8rem;
  letter-spacing: 2px;
  line-height: 1.3;
}

#page01 .title .name span{
  font-size: 1.9rem;
  font-weight: 700;
}

#page01 .title .sub_text{
  margin-top: 20px;
  font-size: 20px;
  color: #0009;
  letter-spacing: 1.5px;
  line-height: 1.5;
}


/* ---------------------------- */

#page02,#page03{
  padding: 60px 0 100px;
  background-color: #222;
  color: #fff;
}

#page02 .container .title,
#page03 .container .title,
#page04 .container .title{
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 6px;

  margin-bottom: 50px;
}

#page02 .proflie_box{
  border: 1px solid #6666;
  background-color: #0007;

  display: flex;
  gap: 20px;
  height: 100%;

  padding: 40px 40px 60px;
}

.proflie_box .left .img_box{
  background: url(./img/ID\ photo.jpeg) no-repeat center top / cover;
  width: 350px;
  height: 460px;

  position: relative;
}

.proflie_box .left .img_box .info{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  padding: 10px;
  text-align: center;
}

#page02 .right{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 0 40px;
}

#page02 .right .head_name{
  text-transform: uppercase;
}

#page02 .right .sub_text{
  padding: 10px 0 20px;
}

#page02 .center .sublist{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  color: #ccc;
}

#page02 .center .sublist .sub{
  padding: 15px 0px 0px;
  color: #f4f76f;
}

#page02 .bottom span{
  /* margin: 20px 10px 0 0; */
  display: inline-block;
  padding: 10px 10px 0 0;
}

/* ---------------------------- */
#page03{  
  position: relative;
}

#page03 .portfolioSwiper{
  width: 100%;
  height: 650px;
  overflow: hidden;
}

#page03 .arrow{
  color: #fff;
  font-size: 30px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#page03 .arrow.right{
  margin-right: 190px;
}

#page03 .arrow.left{
  margin-left: 190px;
}

#page03 .swiper-pagination{
  margin-top: 10px;
  position: static;
}

#page03 .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 0.5;
}

#page03 .swiper-pagination-bullet-active{
  opacity: 1;
  background-color: #fff !important;
}

.portfolioSwiper .swiper_wrap{
  width: 100%;
  height: 100%;
}

.portfolioSwiper .img{
  width: 100%;
  height: 100%;
}

.portfolioSwiper .img01{
  background: url(./img/Diptyque.jpg) no-repeat center top / cover;
}
.portfolioSwiper .img02{
  background: url(./img/revis.jpg) no-repeat center top / cover;
}
.portfolioSwiper .img03{
  background: url(./img/HDEX.jpg) no-repeat center top / cover;
}
.portfolioSwiper .img04{
  background: url(./img/lemaire.jpg) no-repeat center top / cover;
}
.portfolioSwiper .img05{
  background: url(./img/ROYAL_HOTEL_SEOUL.jpg) no-repeat center top / cover;
}
.portfolioSwiper .img06{
  background: url(./img/benz.jpg) no-repeat center top / cover;
}

.portfolioSwiper .slide{
  position: relative;
}

.portfolioSwiper .slide .button{
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}


/* ---------------------------- */
#page04{
  padding: 60px 0 100px;
}

#page04 .container p{
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.5;
}

